
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border : 1px solid black;
}

.footer{
    margin: 10px;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}

.logo{
    width: 100px;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.res-logo {
    width: 100%;
}

.restaurantList{
    display: flex;
    flex-wrap: wrap;
    gap : 10px;
}

.search-container{
    margin: 10px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0
} */